<!DOCTYPE html>
<html>
<head>
  <title>Pushertest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag Sync.adapter_javascript_url %>
  <%= include_sync_config %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
